:root{
  --primary-color:#eb6123;
  --white: #FFFFFF;
  --black: #000000;
  --gray: #A9A9A9;



}
*{

  font-family: 'Creepster', cursive;
  color: var(--black);
  
}


  
h1{
  font-size: 40px;
  margin: 20px;
}

h1, h2{
  font-family: 'Pixelify Sans', cursive;

}

a {
  font-size: 30px;
}

a:link {
  text-decoration: none;
  outline: none;
}
a:link::after{
  content: "";
}

a:visited {
  color: var(--gray)
}

a:hover {
  text-decoration: underline;
}

a:focus{
  text-decoration: underline;
} 
a:focus::after
a:hover::after {
  content: attr(data-description)
}

a:active {
  font-size: 32px;
}



header {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Pixelify Sans', cursive;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  margin: 20px;
  padding-top: 100px;
  padding-bottom: 80px;
}

li {
  display: inline;
  margin: 50px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: var(--primary-color);
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}



#copyright,
.mobileFeature {
  margin: 20px;
  font-size: 10px;
}

.mobileFeature {
  display: none;
}

@media (max-width: 500px) {
  li {
    display: inline;
    margin: 20px;
  }
  .mobileFeature {
    display: flex;
  }

  .disappearing{
    display: none;
  }
}
@media (min-width: 701px) {
  #burger {
    display: none;
  }
}
@media (max-width: 700px) {
  nav {
    display: none;
  }
  #account {
    display: none;
  }
  #burger {
    grid-column: 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main {
    padding-bottom: 0px;
  }
  footer {
    position: unset;
  }
}